<html>
  <head>
		<title>Courses</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/allcourses.js"></script>
  </head>
  <body>
    <header>
      <h1>Courses</h1>
    </header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="courses.html">Courses</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="user.html">Profile</a></li>
      </ul>
    </nav>
    <form class="searchbar" action="search">
      <input type="text" placeholder="Coursetitle..." name="searchrequest">
      <button type="submit">Search</button>
    </form>
    <article>
      <section type="course1">
        <p></p>
      </section>
      <section type="course2">

      </section>
    </article>
  </body>
</html>