<html>
  <head>
		<title>Courses</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script>
      window.onload = function(){
        var courses = <%- JSON.stringify(courses) %>; //Don't change, this actually works
        console.log(courses);
        
        for(var i = 0; i < courses.length; i++){
          var course = courses[i];
          var sec = document.createElement('section');
          sec.href = `/courses/${course.code}`

          var title = document.createElement('h2');
          var title_text = document.createTextNode(`${course.title}`);
          title.appendChild(title_text);

          var code = document.createElement('a');
          code.href = `/courses/${course.code}`
          var code_text = document.createTextNode(`Code: ${course.code}`);
          code.appendChild(code_text);

          var description = document.createElement('p');
          var description_text = document.createTextNode(`${course.description}`);
          description.appendChild(description_text);

          sec.appendChild(title);
          sec.appendChild(code);
          sec.appendChild(description);

          var element = document.getElementById("courses");
          element.appendChild(sec);
        }
      };
    </script>
  </head>
  <body>
    <header>
      <h1>Courses</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/courses/all">Courses</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/user">Profile</a></li>
      </ul>
    </nav>
    <form action="/courses/all" method="GET">
        <input type="text" name="search" placeholder="Zoekopdracht">
        <input type="submit" value="Zoek!">
    </form>
    <article id="courses"></article>
  </body>
</html>