<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Home</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses/all">Courses</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/user">Profile</a></li>
    </ul>
  </nav>
  <p>Welcome to our university course registration site! <a href="login.html">Login</a> and register your courses or search for some <a href="courses.html">courses</a> for their information.</p>
</body>

</html>
