<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Home</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses/all">Courses</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/user">Profile</a></li>
    </ul>
  </nav>
  <h2>Welcome to our university course registration site!</h2> 
  <p><a href="/login">Login</a> and register your courses, or <a href="/register">register</a> a new user here!</p>
</body>

</html>
