<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <header>
        <h1>Login Form</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses/all">Courses</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/user">Profile</a></li>
        </ul>
    </nav>
    <div class="login-form">
        <form action="login" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit">
        </form>
    </div>
    <p>Don't have a profile? <a href="/register">Then register here</a></p>
</body>

</html>