<html>

<head>
  <title>CourseRegistrationSuccess</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Course registration success!</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses/all">Courses</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/user">Profile</a></li>
    </ul>
  </nav>
  <p>You have been successfully registered for the selected course. You may check your registered courses by searching for <a href="courses.html">the courses</a>.</p>
</body>

</html>
