<html>

<head>
  <title>User Registration</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Registration</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses/all">Courses</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/user">Profile</a></li>
    </ul>
  </nav>
  <div class="registration_form">
    <form>
      bruh
    </form>
  </div>
</body>

</html>