body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#error{
  color: red;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
a {
  color: orange;
}

h1 {
  font-size: 34 px;
}

header {
  padding: 20 px;
}

p small {
  font-size: 0.5 em;
}

nav {
  font-size: 1.2em;
}

nav ul {
  list-style-type: none;
  margin: 10px 0px;
  overflow: hidden;
  color: white;
  background-color: gold;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li:hover {
  border-bottom: 2px solid red;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

img {
  border-radius: 10px;
}

section{
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}
.registration-form{
  width: 250px;
}
label{
  margin: 10px;
}
input[type=text]{
  margin: 10px;
  height: 30px;
  width: 250px;
}

input[type=email]{
  margin: 10px;
  height: 30px;
  width: 250px;
}

input[type=password]{
  margin: 10px;
  height: 30px;
  width: 250px;
}

input[type=submit]{
  width: 100px;
  height: 30px;
  margin: 10px;
}

input[type=submit]:hover{
  border: 2px solid gold;
}

th{
  padding: 10px;
  border: 2px solid black;
}
td{
  padding: 10px;
  border: 2px solid black;
}

button{
  width: 100px;
  height: 30px;
  margin: 10px 0px;
}

input[type=submit]:hover{
  border: 2px solid gold;
}